<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">


<dom-module id="paper-tabs">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

     <custom-style>
      <style is="custom-style">
        paper-tab[link] a {
          /* These mixins (from iron-flex-layout) center the link text. */
          @apply --layout-horizontal;
          @apply --layout-center-center;
          color: #2D6683;
          text-decoration: none;
          background-color: lightblue; 
        }
      </style>
    </custom-style>
  <head>
    <paper-tabs  on-click-tab="" selected="0"link>
      <paper-tab  link>
        <a href="#item0" tabindex="-1">INFORMATION</a>
      </paper-tab>
      <paper-tab on-click-tab="tablaUno" link>
        <a href="#item1" tabindex="-1">TAB ONE</a>
      </paper-tab>
      <paper-tab on-click-tab="tablaDos" link>
        <a href="#item2" tabindex="-1">TAB TWO</a>
      </paper-tab>
      <paper-tab on-click-tab="respuesta" link>
        <a href="#item3" tabindex="-1">SUCCES!</a>
      </paper-tab>
      <paper-tab on-click-tab="checklist" link>
        <a href="#item4" tabindex="-1">CHECKLIST</a>
      </paper-tab> 
    </paper-tabs>
  </head> 
   
  </template>

  <script>
    /**
     * `paper-tabs`
     * Tabs elementos
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PaperTabs extends Polymer.Element {
      static get is() { return 'paper-tabs'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'paper-tabs'
          }
        };
      }
      eventTab(e){
        this.dispatchEvent(
          new CustomEvent('click-tab',{detail})
        );
      }
    }

    window.customElements.define(PaperTabs.is, PaperTabs);
  </script>
</dom-module>
